h2 {
  margin: 0;
  font-size: 1.25rem;
}

mat-dialog-content {
  padding: 1rem 0;
  font-size: 0.9rem;
}

p {
  margin: 0.5rem 0;
}

ul {
  margin: 0.5rem 0;
  padding-left: 1.25rem;
}

li {
  margin: 0.25rem 0;
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  mat-dialog-content {
    font-size: 1rem;
  }

  ul {
    padding-left: 1.5rem;
  }
}
